{% extends 'base.html' %}
{%load static%}
{% block content %}

<div class="ui top attached label" style="background-color: rgb(202, 202, 33);"><h1 style="text-align:center; margin: 2px;">Cold Coffee</h1></div>

   
   {% for item in cold_items %}
   
  
   <div class="ui cards" style="margin-left: 100px;">
    <div class="card">
      <div class="content">
        
        <h2 class="ui header">
            {{item.name}}
        </h2>
        <div class="meta" style="font-size: small;">
            {{item.type}}
        </div>
        <div class="description" style="font-size: x-small;">
            {{item.desc}}
        </div>
      </div>
      <div class="extra content" style="margin-top: -30px;">
        
      
          <div class="ui buttons">
            <div class="ui teal buttons">
            <button class="ui button" >{{item.price_s}}</button>
            
            <button class="ui button">{{item.price_m}}</button>
            <button class="ui button">{{item.price_l}}</button>
            </div>
          </div>
    
        </div>
     
      
    </div>
    
    </div>

   {% endfor %}
   <div class="ui teal buttons" style="margin-top: 30px;margin-left: 160px;">
    <button class="ui labeled icon button">
      <i class="left chevron icon"></i>
      Back
    </button>
    
    <button class="ui right labeled icon button" style="margin-left: 10px;">
      Add
      <i class="plus square icon"></i>
    </button>
  </div>

   


  {% endblock %}
  {{item}} 