{% extends 'base.html' %}
{%load static%}
{% block content %}

<div class="ui top attached label"><h1 style="text-align:center; margin: 2px;">Type of Items</h1></div>
<div class="ui four column relaxed grid" style="margin: 20px;">
   
   {% for item in items %}
    <div class="column " style="margin-right:12px">
       
       <a href="{% url item.item_type %}"><button class="ui huge olive button" id={{item.item_type}} >{{item.item_type}}</button></a>
    </div>
  
   {% endfor %}
  
   
</div>


  {% endblock %}
  {{item}} 