
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

<link rel="stylesheet"  href= "{% static './css/main.css' %}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    
</head>
<body>
    <div class="ui equal width grid" style="margin-top: 29px;">
        <div class="column">
          <div class="" style="margin: 20px;">
             <!-- here mostly We will put the Side Bar Navigations Specially -->
            {% include 'includes/nav.html'%}
          </div>
        </div>
        <div class="eight wide column"  style="font-size: 34px;">
          <div class="ui segment" style="margin: 20px; font-size: 34px;">

            <!-- here we will have Diffrent Analytics Part Going on....  -->
            {% block content%}

{%endblock%}
          </div>
        </div>
        <div class="column" style="margin-top: 20px; margin-right: 12px;">
          <div class="ui segment" style=" font-size: 34px;">
         
          <div class="ui top attached label"><h1 style="text-align:center;">Added Items So far</h1></div>
          <div class="ui four column relaxed grid">
             
            <div class="ui bulleted list" id="listofitem" style="margin-top: 12px;">
              <div class="item" style="font-size: 24px;">Gaining Access</div>
              <!-- <div class="item" style="font-size: 24px;">Gaining Access</div> -->
              
             
          </div>
          </div>
        </div>
      </div>
    
    





  
<!-- 
{% include 'includes/footer.html'%} -->
</body>
<script>
  // console.log(document.getElementById('SCold Brew'))



  class Item{
    constructor(price,name,size){
        this.price = price;
        this.name = name;
        this.size = size;
        }
}
class UIhandle{
    setListOnTable(item){
        const list = document.getElementById('listofitem')
        const row = document.createElement("tr")
        row.innerHTML = `
        <td>${Item.name}</td>
        <td>${book.size}</td>
        <td>${book.price}</td>
        <td><a href="#" class="delete" >X</a></td>`
    
        
    
        list.appendChild(row)
    }
    // clearTask(){
    // document.getElementById('title').value = ""
    // document.getElementById('author').value =""
    // document.getElementById('isbn').value = ""
    // document.getElementById('category').value = ""
    // }
    // showAlert(msg,className){
    //     const cont = document.querySelector(".container")
    // const form = document.querySelector("#book-form")
    // const ele = document.createElement("div")
    // ele.className = `alert ${className}`;
    // ele.appendChild(document.createTextNode(msg))
    // cont.insertBefore(ele,form)
    
    // setTimeout(()=>{
    //     document.querySelector(".alert").remove();
    // }, 3000)
        
    // }

    deleteBook(target){
        if(target.className === 'delete'){
            target.parentElement.parentElement.remove()
            
             
        }
    }
}

class Store{
 static getItems(){
     let items;
     if(localStorage.getItem('items') === null){
      items = [];
     }
     else{
      items = JSON.parse(localStorage.getItem('items'))
     }

     return items;
 }
 static addItemToStore(item){
     let items = Store.getItem();
     items.push(item)
     localStorage.setItem("items", JSON.stringify(items) )

 }

 static displayItems(){
     let items = Store.getItems();
     items.forEach(function(item)
     {
         const ui = new UIhandle;
         ui.setListOnTable(item)
     }
     )
 }
//  static delfromStore(category){
//      const items = Store.getItems();
//      items.forEach(function(item,index){
//         if(item.category === category){
//             books.splice(index,1)
//         }
//      })
//      localStorage.setItem("books", JSON.stringify(books))

//  }


}
document.addEventListener("DOMContentLoaded", (e=>{
    Store.displayBooks()
    e.preventDefault()
}))


  document.getElementById('btns').addEventListener('click', e=>{
    
    const name = document.getElementById('nameofitem').innerText
    // const size = document.getElementById('btn').innerText
    e.preventDefault()
  })
  document.getElementById('btnm').addEventListener('click', e=>{
    console.log(console.log('Clcikec Btn', document.getElementById('btnm')))
  })
  document.getElementById('btnl').addEventListener('click', e=>{
    console.log(console.log('Clcikec Btn', document.getElementById('nameofitem').innerText))
    console.log(document.getElementById("btnl").innerText)


  })
</script>
</html>